
/*
    Created on : Mar 23, 2015, 10:21:51 PM
    Author     : Alan Arturo Hernandez Chichitz <alanarturohernandez@gmail.com>
*/


@font-face {
    font-family: 'FontAwesome';
    src: url("#{resource['plugins/font-awesome/fonts/fontawesome-webfont.eot']}?v=4.3.0");
    src: url("#{resource['plugins/font-awesome/fonts/fontawesome-webfont.eot']}?#iefix&v=4.3.0") format('embedded-opentype'),
        url("#{resource['plugins/font-awesome/fonts/fontawesome-webfont.woff2']}?v=4.3.0") format('woff2'),
        url("#{resource['plugins/font-awesome/fonts/fontawesome-webfont.woff']}?v=4.3.0") format('woff'),
        url("#{resource['plugins/font-awesome/fonts/fontawesome-webfont.ttf']}?v=4.3.0") format('truetype'),
        url("#{resource['plugins/font-awesome/fonts/fontawesome-webfont.svg']}?v=4.3.0#fontawesomeregular") format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Glyphicons Halflings';

    src: url("#{resource['bootstrap/fonts/glyphicons-halflings-regular.eot']}");
    src: url("#{resource['bootstrap/fonts/glyphicons-halflings-regular.eot']}?#iefix") format('embedded-opentype'),
        url("#{resource['bootstrap/fonts/glyphicons-halflings-regular.woff2']}") format('woff2'),
        url("#{resource['bootstrap/fonts/glyphicons-halflings-regular.woff']}") format('woff'),
        url("#{resource['bootstrap/fonts/glyphicons-halflings-regular.ttf']}") format('truetype'),
        url("#{resource['bootstrap/fonts/glyphicons-halflings-regular.svg']}#glyphicons_halflingsregular") format('svg');
}




.ui-widget-header{
    border: 1px solid #a8a8a8;
    color: #333;
    font-weight: bold;
}


.ui-widget-content {
    border: 1px solid #ABABAB;
    background: #ffffff;
    color: #4f4f4f;
}

.ui-datatable-data{
    border: 1px solid #f4f4f4;
}

/*Icons*/
/*Icons*/
.ui-icon {background-image: url("#{resource['primefaces/ui-icons.png']}"); }
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-on { background-position: -96px -144px; }
.ui-icon-radio-off { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }
/*Icons*/
/*Icons*/
/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }

.ui-ajax-status{
    position: fixed; z-index: 1300;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}



.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
    background-image: none;
}


.ui-datatable .ui-column-filter {
    display: block;
    /*width: 100px;*/
    margin: auto;
    font-weight: normal;
}

.ui-datatable-sortable-label, .ui-datatable-sortable-label:active, .ui-datatable-sortable-label:hover, .ui-datatable-sortable-label:focus {
    color:black;
}

.ui-datatable thead th, .ui-datatable tfoot td {
    text-align: center;
}

.ui-datatable .ui-sortable-column-icon {
    display: inline-block;
    margin: -3px 0px -3px 2px;
}

.ui-datatable .ui-sortable-column {
    cursor: pointer;
}

.ui-icon{
    display: inline-block;
    text-indent: -99999px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    width: 16px;
    height: 16px;

}

.ui-paginator {
    margin:0px;
    text-align: center;
    padding:2px;
}

.ui-paginator.ui-paginator-top {
    border-bottom:0px none;
}

.ui-paginator.ui-paginator-bottom {
    border:0px none;
}

.ui-paginator-page{
    padding: 2px 11px;
}

.ui-paginator .ui-paginator-page,
.ui-paginator .ui-paginator-next,
.ui-paginator .ui-paginator-last,
.ui-paginator .ui-paginator-first,
.ui-paginator .ui-paginator-prev {
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.ui-paginator .ui-paginator-current{
    font-weight: bold;
}

.ui-paginator .ui-paginator-page,
.ui-paginator .ui-paginator-next,
.ui-paginator .ui-paginator-last,
.ui-paginator .ui-paginator-first,
.ui-paginator .ui-paginator-prev{
    cursor: pointer;
}

.ui-paginator .ui-paginator-current,
.ui-paginator .ui-paginator-rpp-options {
    margin-left: 1em;
    margin-right: 1em;
    background-image: none;
}

.ui-paginator .ui-paginator-next .ui-icon,
.ui-paginator .ui-paginator-prev .ui-icon,
.ui-paginator .ui-paginator-first .ui-icon,
.ui-paginator .ui-paginator-last .ui-icon {
    height: auto;
    overflow: inherit;
}

.ui-paginator .ui-paginator-jtp-select option,
.ui-paginator .ui-paginator-rpp-options option {
    background-image: none;
    border:0 none;
    box-shadow:none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

/* Responsive */
@media (max-width: 35em) {
    .ui-paginator .ui-paginator-pages {
        display: none;
    }
}


.ui-paginator-pages .ui-state-active{
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}


.ui-paginator-rpp-options{
    height: 30px;
    line-height: 30px;
    border-radius: 0px !important;
    box-shadow: none;
    border-color: #d2d6de;
    padding: 5px 10px;
    font-size: 12px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

}

.ui-inputfield{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.ui-inputfield:focus {
    border-color: #3c8dbc !important;
    box-shadow: none;
    outline: 0;
}

.ui-growl {
    position: fixed;
    top: 60px;
    right: 20px;
    width: 301px;
}

.ui-growl-item-container {
    position: relative;
    margin: 0 0 0 0;
}

.ui-growl-item {
    display: block;
    padding: 10px 15px;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background: #E7E7E7;
    color: #131313;
}

.ui-growl-message {
    padding: 0 0 5px 0;
    width: 220px;
    float: right;
}
.ui-growl-title {
    font-weight: bold;
    padding: 0 0 7px 0;
    display: block;
}

.ui-growl-icon-close {
    position: absolute;
    top: 5px;
    right: 3px;
    cursor: pointer;
}

.ui-growl-image {
    font-size: 25px;
    float: left;
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



.ui-growl-image-info:before {
    content: "\e086";
}

.ui-growl-image-warn:before {
    content: "\e101";
}

.ui-growl-image-error:before {
    content: "\e083";
}

.ui-growl-image-fatal:before {
    content: "\e104";
}

.ui-growl .ui-icon-closethick{
    background: none;
    text-indent: 0px;
    color: #fff;
}
.ui-growl .ui-icon-closethick:before{
    content: "\f00d";
}

.ui-password-panel-overlay {
    position: absolute;
}
.ui-password-panel {
    padding: 4px 10px;
    width: 150px;
    margin-top: 2px;
}

.ui-password-info {
    margin-top: 4px;
}

.ui-password-panel .ui-password-meter {
    height: 10px;
    background: transparent url("#{resource['primefaces/password-meter.png']}") no-repeat left top;
    padding: 0;
    margin: 0;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 0px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 0px;
}

.ui-helper-hidden {
    display: none;
}

/** SelectOneMenu **/
.ui-selectonemenu {
    display: inline-block;
    position: relative;
    width: auto;
    zoom: 1;
    cursor: pointer;
}

.ui-selectonemenu .ui-selectonemenu-trigger {
    border-right: none;
    border-top: none;
    border-bottom: none;
    cursor: pointer;
    width: 16px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
}

.ui-selectonemenu .ui-selectonemenu-trigger  .ui-icon {
    margin-top: 9px;
}

.ui-selectonemenu-items .ui-state-hover{
    color: #fff;
    background: #374850;
}

.ui-state-focus .ui-selectonemenu-label{
    border-color: #3c8dbc !important;
    box-shadow: none;
    outline: 0;
}

.ui-selectonemenu .ui-selectonemenu-label  {
    display: block;
    border: none;
    white-space: nowrap;
    overflow: hidden;
    font-weight: normal;
    width: 100%;
    text-align: left;
    border: 1px solid #ccc;
}

.ui-selectonemenu.ui-state-disabled .ui-selectonemenu-trigger,
.ui-selectonemenu.ui-state-disabled .ui-selectonemenu-label {
    cursor: default;
}

.ui-selectonemenu label.ui-selectonemenu-label  {
    cursor: pointer;
}

.ui-selectonemenu input.ui-selectonemenu-label  {
    cursor: default;
}

.ui-selectonemenu-panel {
    position: absolute;
    height: auto;
}

.ui-selectonemenu-panel .ui-selectonemenu-items-wrapper {
    overflow: auto;
}

.ui-selectonemenu-panel .ui-selectonemenu-item {
    font-weight: normal;
    cursor:pointer;
}

.ui-selectonemenu-panel .ui-selectonemenu-item-group {
    font-weight: bold;
}

.ui-selectonemenu-panel .ui-selectonemenu-list {
    padding: 0.4em;
    border: 0 none;
}

.ui-selectonemenu-panel .ui-selectonemenu-list-item {
    border:0px none;
    margin:1px 0;
    padding:3px 5px;
    text-align:left;
    white-space: nowrap;
}

.ui-selectonemenu-panel .ui-selectonemenu-table {
    border-collapse:collapse;
    width:100%;
}

.ui-selectonemenu-panel .ui-selectonemenu-table td {
    border-width: 1px;
    border-style: solid;
    border-color: inherit;
    padding:4px 10px 4px 10px;
}

.ui-selectonemenu-panel .ui-selectonemenu-filter {
    width: 85%;
    padding-right:15px;
}

.ui-selectonemenu-panel .ui-selectonemenu-filter-container {
    position: relative;
    margin: 0;
    padding: 0.4em;
    display: inline-block;
}

.ui-selectonemenu-panel .ui-selectonemenu-filter-container .ui-icon {
    position: absolute;
    top: 10px;
    right: 10px;
}

/**
 * Checkbox
 */
.ui-chkbox {
    display: inline-block;
    border: 1px solid #a8a8a8;
}

.ui-chkbox .ui-chkbox-box {
    width: 16px;
    height: 16px;
    display: inline-block;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.ui-chkbox-icon.ui-icon {
    overflow: visible;
}

.ui-chkbox .ui-chkbox-label {
    cursor: pointer;
    margin: 3px 0 0 3px;
    outline: medium none;
    z-index: 1;
    display: inline-block;
    vertical-align: top;
}

.ui-selectmanycheckbox label,
.ui-selectoneradio label {
    display: block;
    margin-top: 4px;
}

.ui-selectmanycheckbox.ui-widget td,
.ui-selectoneradio.ui-widget td {
    border: 0 none;
}

/** RadioButton **/
.ui-radiobutton {
    margin: 3px 0;
    width: 16px;
    line-height: 16px;
    display: inline-block;
}
.ui-radiobutton .ui-radiobutton-box {
    width: 16px;
    height: 16px;
    line-height: 16px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.ui-radiobutton-icon {
    margin-left: 1px;
}

.ui-radiobutton.ui-radiobutton-native {
    margin: 0;
    padding: 0;
}

.ui-radiobutton.ui-radiobutton-native  .ui-helper-hidden-accessible {
    clip: auto;
    position: static !important;
    width: auto;
    height: auto;
    overflow: visible;
    margin: 0;
    padding: 0;
}

.ui-radiobutton.ui-radiobutton-native  .ui-radiobutton-box {
    display:none;
}

.ui-radiobutton.ui-radiobutton-native .ui-helper-hidden-accessible input {
    margin: 0;
}

.ui-selectoneradio-native label {
    margin: 0;
}

.ui-state-disabled a{outline: none;}


.ui-message-error-icon{
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: 5px;
}

.ui-messages-info-icon {font: normal normal normal 14px/1 FontAwesome;
                        margin-right: 5px;}
.ui-messages-warn-icon {font: normal normal normal 14px/1 FontAwesome;
                        margin-right: 5px;}
.ui-messages-error-icon {font: normal normal normal 14px/1 FontAwesome;
                         margin-right: 5px;}
.ui-messages-fatal-icon {font: normal normal normal 14px/1 FontAwesome;
                         margin-right: 5px;}
.ui-message-info-icon {font: normal normal normal 14px/1 FontAwesome;
                       margin-right: 5px;}
.ui-message-warn-icon {font: normal normal normal 14px/1 FontAwesome;
                       margin-right: 5px;}
.ui-message-error-icon {font: normal normal normal 14px/1 FontAwesome;
                        margin-right: 5px;}
.ui-message-fatal-icon {font: normal normal normal 14px/1 FontAwesome;
                        margin-right: 5px;}

.ui-messages-info-icon:before {content: "\f05a";}
.ui-messages-warn-icon:before {content: "\f071";}
.ui-messages-error-icon:before {content: "\f05c";}
.ui-messages-fatal-icon:before {content: "\f056";}
.ui-message-info-icon:before {content: "\f05a";}
.ui-message-warn-icon:before {content: "\f071";}
.ui-message-error-icon:before {content: "\f05c";}
.ui-message-fatal-icon:before {content: "\f056";}

.ui-messages-info, .ui-message-info {
    color: #00c0ef;
}

.ui-messages-warn, .ui-message-warn {
    color: #f39c12;
}

.ui-messages-error, .ui-message-error {
    color: #d33724;
}

.ui-messages-fatal, .ui-message-fatal {
    color: #d33724;
}



/* Button */
.ui-button:active{
    background-image: none;
}

.ui-button:hover,
.ui-button:focus,
.ui-button.focus,
.ui-button:active,
.ui-button.active {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.ui-button {
    display: inline-block;
    position: relative;
    padding: 0;
    margin-right: .1em;
    text-decoration: none !important;
    cursor: pointer;
    text-align: center;
    zoom: 1;
    overflow: visible;
    border: 1px solid;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.ui-button-icon-only {
    width: 2.4em;
}

/*button text element */
.ui-button .ui-button-text {
    display: block;
    line-height: normal;
}

.ui-button-text-only .ui-button-text {
    padding: .1em 1em;
}

.ui-button-icon-only .ui-button-text {
    padding: .3em;
    text-indent: -9999999px;
}

.ui-button-text-icon-left .ui-button-text {
    padding: .3em 1em .3em 2.1em;
}

.ui-button-text-icon-right .ui-button-text {
    padding: .3em 2.1em .3em 1em;
}

/*button icon element(s) */
.ui-button-icon-only .ui-icon,
.ui-button-text-icon-left .ui-icon,
.ui-button-text-icon-right .ui-icon {
    position: absolute;
    top: 50%;
    margin-top: -8px;
}

/* FontAwesome icon */
.ui-button-icon-only .ui-icon.fa,
.ui-button-text-icon-left .ui-icon.fa,
.ui-button-text-icon-right .ui-icon.fa {
    margin-top: -7px;
}

.ui-button-icon-only .ui-icon {
    left: 50%;
    margin-left: -8px;
}

.ui-button-icon-left {
    left: .5em;
}

.ui-button-icon-right {
    right: .5em;
}

/*button sets*/
.ui-buttonset {
    margin-right: 7px;
}
.ui-buttonset .ui-button {
    margin-left: 0;
    margin-right: 0;
}

/* workarounds */
button.ui-button::-moz-focus-inner {
    border: 0; padding: 0; /* reset extra padding in Firefox */
}


.ui-icon-blank {
    background-position: 16px 16px;
}


.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    /*border: 1px solid #a8a8a8;*/
}

.ui-chkbox .ui-chkbox-box {
    width: 16px;
    height: 16px;
    display: inline-block;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}


/* Tree */
.ui-tree {
    width: 300px;
    position: relative;
}

.ui-tree .ui-tree-container {
    margin: 0;
    padding: 3px;
    white-space: nowrap;
    overflow: auto;
}

.ui-tree .ui-treenode-children {
    margin: 0;
    padding: 0 0 0 16px;
}

.ui-tree .ui-treenode {
    background-attachment: scroll;
    background-color: transparent;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat-y;
    list-style: none outside none;
    margin: 0;
    padding: 1px 0 0;
}

.ui-tree .ui-treenode-content {

}

.ui-tree .ui-tree-toggler {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
}

.ui-tree .ui-treenode-icon {
    display: inline-block;
    vertical-align: top;
}

.ui-tree .ui-treenode-label {
    display: inline-block;
    margin: 2px 0 0 0;
    vertical-align: top;
    padding: 0 3px;
}

.ui-tree .ui-tree-selectable .ui-treenode-label,
.ui-tree .ui-tree-selectable .ui-treenode-icon {
    cursor: pointer;
}

.ui-tree .ui-treenode-label.ui-state-hover,
.ui-tree .ui-treenode-label.ui-state-highlight {
    font-weight: normal;
    border: 0 none;
    border-radius: 3px;
}

.ui-tree .ui-treenode-leaf-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
}

.ui-tree .ui-chkbox-box {
    cursor: pointer;
    width: 15px;
    height: 15px;
    float: left;
}

.ui-tree .ui-chkbox {
    display: inline-block;
    zoom: 1;
}

/** Horizontal Tree **/
.ui-tree-horizontal {
    width:auto;
    padding:10px 0px;
    overflow:auto;
}

.ui-tree.ui-tree-horizontal table,
.ui-tree.ui-tree-horizontal tr,
.ui-tree.ui-tree-horizontal td {
    border-collapse: collapse;
    margin:0;
    padding:0;
    vertical-align: middle;
}

.ui-tree.ui-tree-horizontal .ui-tree-toggler {
    vertical-align: bottom;
}

.ui-tree-horizontal .ui-treenode-content {
    font-weight: normal;
}

.ui-tree-horizontal .ui-treenode-content.ui-tree-selectable {
    cursor: pointer;
}

.ui-tree-horizontal .ui-treenode-parent .ui-treenode-content {
    font-weight: normal;
    white-space: nowrap;
}

.ui-tree-horizontal .ui-treenode-parent .ui-treenode-content {
    padding: 0.4em 1em 0.4em 0.2em;
}

.ui-tree-horizontal .ui-treenode-leaf .ui-treenode-content {
    padding: 0.4em 1em;
}

.ui-tree.ui-tree-horizontal .ui-treenode {
    background: url("#{resource['primefaces:tree/images/line.gif']}") repeat-x scroll center center transparent;
    padding: 5px 40px;
}

.ui-tree.ui-tree-horizontal .ui-treenode.ui-treenode-leaf,
.ui-tree.ui-tree-horizontal .ui-treenode.ui-treenode-collapsed {
    padding-right:0px;
}

.ui-tree.ui-tree-horizontal .ui-treenode-children {
    padding:0;
    margin:0;
}

.ui-tree.ui-tree-horizontal .ui-treenode-connector {
    width: 1px;
}

.ui-tree.ui-tree-horizontal .ui-treenode-connector-table {
    height: 100%;
    width: 1px;
}

.ui-tree.ui-tree-horizontal .ui-treenode-connector-line {
    background: url("#{resource['primefaces:tree/images/line.gif']}") repeat-y scroll 0 0 transparent;
    width: 1px;
}

.ui-tree.ui-tree-horizontal table {
    height:0px;
}

.ui-tree.ui-tree-horizontal .ui-chkbox {
    vertical-align: bottom;
    margin-right: 3px;
}

/** RTL **/
.ui-tree.ui-tree-rtl {
    direction: rtl;
}

.ui-tree.ui-tree-rtl .ui-treenode-children {
    padding: 0 16px 0 0;
}

/** DragDrop **/
.ui-tree-droppoint {
    list-style: none outside none;
    height: 4px;
    margin: 0;
    padding: 0;
}

.ui-tree-droppoint.ui-state-hover {
    border: 0 none;
}

.ui-treenode-content.ui-state-hover {
    font-weight: inherit;
}

.ui-tree-draghelper.ui-state-highlight {
    background: none transparent;
}

.ui-tree .ui-tree-scrollertop,
.ui-tree .ui-tree-scrollerbottom {
    height: 10px;
    width: 100%;
    position: absolute;
}

.ui-tree .ui-tree-scrollertop {
    top: 0;
}

.ui-tree .ui-tree-scrollerbottom {
    bottom: 0;
}

.ui-tree .ui-treenode-content .ui-chkbox.ui-selection {
    display: none;
}

.ui-tree .ui-treenode-content.ui-tree-selectable .ui-chkbox.ui-selection {
    display: inline-block;
}

.ui-tree.ui-tree-checkbox-all .ui-treenode-content .ui-chkbox.ui-selection {
    display: inline-block;
}

.ui-tree .ui-treenode-outline {
    outline: 1px dotted;
}

.ui-widget .ui-icon.fa, .ui-icon.fa {
    display: inline !important;
    margin-left: 10px;
}


.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.btn-column{
    padding: 1px 0px;
}

/** SelectCheckbox Menu **/
.ui-selectcheckboxmenu:focus {
    border-color: #3c8dbc !important;
    box-shadow: none;
    outline: 0;
}

.ui-selectcheckboxmenu {
    display: inline-block;
    position: relative;
    width: auto;
    zoom: 1;
    cursor: pointer;
    border: 1px solid #d2d6de;
}
.ui-selectcheckboxmenu label {
    font-weight: normal;
}

.ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger {
    border-right: none;
    border-top: none;
    border-bottom: none;
    cursor: pointer;
    width: 20px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 3px;
}

.ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger  .ui-icon {
    margin-top: 7px;
}

.ui-selectcheckboxmenu .ui-selectcheckboxmenu-label  {
    display: block;
    padding: 3px 26px 3px 5px;
    width: auto;
    border: none;
    cursor: pointer;
}

.ui-selectcheckboxmenu.ui-state-disabled .ui-selectcheckboxmenu-trigger,
.ui-selectcheckboxmenu.ui-state-disabled .ui-selectcheckboxmenu-label {
    cursor: auto
}

.ui-selectcheckboxmenu-panel label {
    font-weight: normal;
}

.ui-selectcheckboxmenu-panel {
    padding: 0.2em;
    position: absolute;
    overflow: hidden;
}

.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-items-wrapper {
    overflow: auto;
    position: relative;
    padding: 0.2em 0;
}

.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-list {
    border: 0 none;
}

.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-list-item {
    border:0px none;
    cursor:pointer;
    font-weight:normal;
    margin:1px 0;
    padding:3px 5px;
    text-align:left;
    white-space: nowrap;
}

.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-list-item {
    display: block;
    position: relative;
}

.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-list-item .ui-chkbox {
    position: absolute;
    top:50%;
    margin-top:-8px;
}

.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-list-item label {
    display: block;
    padding-left: 2.2em;
}

.ui-selectcheckboxmenu-header {
    margin-bottom: 0.3em;
    padding: 0.3em 0 0.3em 0.4em
}

.ui-selectcheckboxmenu-header .ui-chkbox {
    float:left;
    cursor:pointer;
}

.ui-selectcheckboxmenu-header .ui-selectcheckboxmenu-filter-container {
    float: left;
    position: relative;
    margin-left: 5px;
}

.ui-selectcheckboxmenu-header .ui-selectcheckboxmenu-filter-container .ui-icon{
    position: absolute;
    right: 5px;
    top: 5px;
}

.ui-selectcheckboxmenu-header .ui-inputfield {
    padding: 1px 20px 1px 2px;
    height: 27px;
}

.ui-selectcheckboxmenu-header span.ui-icon {
    float:left;
}

.ui-selectcheckboxmenu-header a.ui-selectcheckboxmenu-all,
.ui-selectcheckboxmenu-header a.ui-selectcheckboxmenu-none {
    float:left;
    margin-right: 10px;
    display: block;
}

.ui-selectcheckboxmenu-header .ui-selectcheckboxmenu-close {
    float:right;
    padding:1px;
    margin-right:0.2em;
    display: block;
}

.ui-selectcheckboxmenu-header .ui-selectcheckboxmenu-close.ui-state-hover {
    padding:0px;
}

.ui-splitbutton {
    position: relative;
}

.ui-state-default{

}

.ui-chkbox{
    border: 0px;
    background: #ffffff;
    color: #ffffff;
}

.ui-chkbox-box{
    background: #ffffff;
    border: 1px solid #000000;
}

.ui-datatable-data .ui-widget-content{
    border: 0px;
}