<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Parámetro para el nombre del archivo de log. -->
    <!-- Declaración del archivo de log. -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- Ubicación del archivo de log. -->
        <file>logs/r2r/system.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>system_%d{yyyy-MM-dd}.%i.txt</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- Límite por tamaño -->
                <maxFileSize>500MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <!-- Formato para cargar los mensajes en el log. -->
        <encoder>
            <pattern>%date %level [%thread] [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>
    <!-- Declaración del log para la consola (Útil para desarrollo,
    deshabilitar para producción). -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>System %level message:%n%level:\t%msg%n\tat %C.%M\(%F:%L\)</pattern>
        </encoder>
    </appender>
    <root level="DEBUG">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
